@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Kalam:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-kalam: "Kalam", cursive;

  --color-solar-red: #FF1A00;
  --color-solar-yellow: #FFBC22;
  --color-solar-dark: #212025;
}
